{% extends "base.html" %}
{% block content %}

<div class="container my-5">
	<h3>Nový pojištěnec</h3>

	<form method="POST">
		{% csrf_token %}

		<div class="row mb-3 height-50">
			<div class="col-6">
				<label for="jmeno" class="form-label">Jméno</label>
				<input class="form-control" name="jmeno" value="{{formular.jmeno}}">
				{% if formular.jmeno_error is not None %}
				<div class="form-text">{{formular.jmeno_error}}</div>
				{% endif %}
			</div>

			<div class="col-6">
				<label for="prijmeni" class="form-label">Přijmení</label>
				<input class="form-control" name="prijmeni" value="{{formular.prijmeni}}">
				{% if formular.prijmeni_error is not None %}
				<div class="form-text">{{formular.prijmeni_error}}</div>
				{% endif %}
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-6">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" name="email" value="{{formular.email}}">
			</div>

			<div class="col-6">
				<label for="telefon" class="form-label">Telefon</label>
				<input type="tel" class="form-control" name="telefon" value="{{formular.telefon}}">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-6">
				<label for="ulice" class="form-label">Ulice a číslo popisné</label>
				<input type="text" class="form-control" name="adresa" value="{{formular.adresa}}">
			</div>

			<div class="col-6">
				<label for="mesto" class="form-label">Město</label>
				<input type="text" class="form-control" name="mesto" value="{{formular.mesto}}">
			</div>
		</div>

		<div class="row mb-3">
			<div class="col-6">
				<label for="psc" class="form-label">PSČ</label>
				<input type="text" class="form-control" name="psc" value="{{formular.psc}}">
			</div>
			<div class="col-6 d-flex align-items-end">
				<button type="submit" class="btn btn-primary">
					Uložit
				</button>
			</div>
		</div>
	</form>

</div>
{% endblock %}