<nav class="navbar navbar-expand-lg bg-body-tertiary" class="bg-dark" data-bs-theme="dark">
    <div class="container-fluid grid gap-3">

        <span class="navbar-brand">Pojištění app</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav grid gap-3">
                <li class="nav-item">
                    <a class="nav-link" href="/pojistenec/">Pojištěnci</a>
                </li>
            </ul>
        </div>
    </div>
</nav>